<div class="mt-10 text-center">
  <h2>Checkout</h2>
  <p class="lead">Por favor ingrese la informacion relativa a la forma de pago.</p>
</div>
<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-muted">Tu Carrito</span>
      <span class="badge badge-secondary badge-pill">{{count}}</span>
    </h4>
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of order.Items">
        <div>
          <h6 class="my-0">{{item.Name}}</h6>
          <small class="text-muted">{{item.Quantity}} unidad(es)</small>
        </div>
        <span class="text-muted">{{item.Price | currency}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (COP)</span>
        <strong>{{order.Price| currency}}</strong>
      </li>
    </ul>
    <button class="btn btn-primary btn-lg btn-block" type="button" (click)="onClick()"
      [disabled]="formCreditCard.invalid || !validItems()">Ordenar</button>
  </div>
  <div class="col-md-8 order-md-1">
    <div class="needs-validation" [formGroup]="formCreditCard">
      <h4 class="mb-3">Pago</h4>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Nombre en tarjeta</label>
          <input type="text" class="form-control" formControlName="Name"
            [ngClass]="{'is-invalid' : getProperty('Name').invalid && getProperty('Name').pristine == false}">
          <small class="text-muted">Nombre completo del propietario de la tarjeta</small>
          <div class="invalid-feedback"
            *ngIf="getProperty('Name').pristine == false && getProperty('Name').errors?.required">
            El nombre en la tarjeta es requerido
          </div>
          <div class="invalid-feedback"
            *ngIf="getProperty('Name').pristine == false && getProperty('Name').errors?.pattern">
            El nombre no es valido
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Numero de la tarjeta de credito</label>
          <input type="text" class="form-control" formControlName="Number" maxlength="12"
            [ngClass]="{'is-invalid' : getProperty('Number').invalid && getProperty('Number').pristine == false}">
          <div class="invalid-feedback"
            *ngIf="getProperty('Number').pristine == false && getProperty('Number').errors?.required">
            El numero de la tarjeta es requerido
          </div>
          <div class="invalid-feedback"
            *ngIf="getProperty('Number').pristine == false && getProperty('Number').errors?.pattern">
            El numero de la tarjeta no es valido
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label>Expiracion</label>
          <input type="text" class="form-control" formControlName="ExpirationDate"
            [ngClass]="{'is-invalid' : getProperty('ExpirationDate').invalid && getProperty('ExpirationDate').pristine == false}">
          <div class="invalid-feedback"
            *ngIf="getProperty('ExpirationDate').pristine == false && getProperty('ExpirationDate').errors?.required">
            La fecha de expiracion es requerida
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label>CVV</label>
          <input type="text" class="form-control" formControlName="VerificationCode" maxlength="3"
            [ngClass]="{'is-invalid' : getProperty('VerificationCode').invalid && getProperty('VerificationCode').pristine == false}">
          <div class="invalid-feedback"
            *ngIf="getProperty('VerificationCode').pristine == false && getProperty('VerificationCode').errors?.required">
            El codigo de seguridad es requerido
          </div>
          <div class="invalid-feedback"
            *ngIf="getProperty('VerificationCode').pristine == false && getProperty('VerificationCode').errors?.pattern">
            El codigo de seguridad no es valido
          </div>
        </div>
      </div>
      <div class="row" [formGroup]="getAddress()">
        <div class="col-md-12">
          <h3>Dirección</h3>
        </div>
        <div class="col-md-4 mb-3">
          <label for="country">País</label>
          <select
            [ngClass]="{'is-invalid' : getProperty('Country',getAddress()).invalid && getProperty('Country',getAddress()).pristine == false}"
            class="custom-select d-block w-100" formControlName="Country">
            <option value="">Seleccione</option>
            <option>Colombia</option>
            <option>Mexico</option>
            <option>Argentina</option>
            <option>Brasil</option>
          </select>
          <div class="invalid-feedback"
            *ngIf="!getProperty('Country',getAddress()).pristine || getProperty('Country',getAddress()).errors?.required">
            El país es requerido.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="country">Ciudad</label>
          <select
            [ngClass]="{'is-invalid' : getProperty('City',getAddress()).invalid && getProperty('City',getAddress()).pristine == false}"
            class="custom-select d-block w-100" formControlName="City">
            <option value="">Seleccione</option>
            <option>Colombia</option>
            <option>Mexico</option>
            <option>Argentina</option>
            <option>Brasil</option>
          </select>
          <div class="invalid-feedback"
            *ngIf="getProperty('City',getAddress()).pristine == false && getProperty('City',getAddress()).errors?.required">
            La ciudad es requerida.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label>Calle</label>
          <input
            [ngClass]="{'is-invalid' : getProperty('Street',getAddress()).invalid && getProperty('Street',getAddress()).pristine == false}"
            type="text" class="form-control" formControlName="Street">
          <div class="invalid-feedback"
            *ngIf="getProperty('Street',getAddress()).pristine == false && getProperty('Street',getAddress()).errors?.pattern">
            La calle es requerida.
          </div>
        </div>
        <div class="col-md-2 mb-3">
          <label>Zip</label>
          <input
            [ngClass]="{'is-invalid' : getProperty('ZIP',getAddress()).invalid && getProperty('ZIP',getAddress()).pristine == false}"
            type="text" class="form-control" formControlName="ZIP">
          <div class="invalid-feedback"
            *ngIf="getProperty('ZIP',getAddress()).pristine == false && getProperty('ZIP',getAddress()).errors?.required">
            El código ZIP es requerido.
          </div>
          <div class="invalid-feedback"
            *ngIf="getProperty('ZIP',getAddress()).pristine == false && getProperty('ZIP',getAddress()).errors?.pattern">
            El código ZIP no es valido.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label>Estado</label>
          <input
            [ngClass]="{'is-invalid' : getProperty('State',getAddress()).invalid && getProperty('State',getAddress()).pristine == false}"
            type="text" class="form-control" formControlName="State">
          <div class="invalid-feedback"
            *ngIf="getProperty('State',getAddress()).pristine == false && getProperty('State',getAddress()).errors?.required">
            El estado es requerido.
          </div>
          <div class="invalid-feedback"
            *ngIf="getProperty('State',getAddress()).pristine == false && getProperty('State',getAddress()).errors?.pattern">
            El estado no es valido.
          </div>
        </div>
      </div>
    </div>
    <hr class="mb-4">
    <button class="btn btn-secondary btn-lg btn-block" type="button" (click)="onCancel()">Cancelar</button>
  </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2017-2019 Company Name</p>
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Support</a></li>
  </ul>
</footer>