<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Kall Sony's</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/secure/offers']">Campanas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/secure/customers']">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/secure/products']">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/secure/orders']">Ordenes</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" (click)="showSelectReport()" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" [ngClass]="{'show':showSelect}">
          <a class="dropdown-item" (click)="showSelectReport()" [routerLink]="['/secure/orders-closed']">Ordenes
            Cerradas</a>
          <a class="dropdown-item" (click)="showSelectReport()" [routerLink]="['/secure/orders-open']">Ordenes
            Abiertas</a>
          <a class="dropdown-item" (click)="showSelectReport()" [routerLink]="['/secure/customer-purchases']">Clientes
            Facturacion</a>
          <a class="dropdown-item" (click)="showSelectReport()" [routerLink]="['/secure/top-selling-products']">Productos
            Mas Vendidos</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item text-nowrap">
        <a class="nav-link" (click)="logOut()">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="container mt-10">
  <router-outlet></router-outlet>
</main>
<ngx-spinner></ngx-spinner>