<div class="col-12  mt-10">
  <div class="form-row">
    <div class="col-11">
      <input type="text" placeholder="Name or Code" class="form-control">
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-primary">Search</button>
    </div>
  </div>
</div>
<div class="card-deck mt-5 text-center">
  <div class="card mb-4 shadow-sm" *ngFor="let product of products">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{product.Name}}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">{{product.Price | currency:'COP'}}</h1>
      <p>{{product.Description}}</p>
      <button type="button" class="btn btn-lg btn-primary btn-block">Add to Cart</button>
      <button type="button" class="btn btn-lg btn-success btn-block">Buy</button>
    </div>
  </div>
</div>