<div class="col-12 mt-10">
  <div class="form-row" [formGroup]="formFilter">
    <div class="col-11">
      <input type="text" formControlName="filter" placeholder="Name or Description" class="form-control">
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-primary">Search</button>
    </div>
  </div>
</div>
<div class="col-12 col-md-3 col-lg-3 col-xl-3 offset-md-4 offset-lg-4 offset-xl-4 mt-2 text-center">
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" (click)="goToOffer(i)" [attr.data-slide-to]="i"
          [ngClass]="{'active': i == currentOffer}" *ngFor="let product of topFiveProducts;let i = index"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let product of topFiveProducts;let i = index"
          [ngClass]="{'active': i == currentOffer}">
          <img style="max-width: 250px; max-height: 250px;" [src]="product.NormalImageURL" class="d-block w-100"
            alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{product.Name}}</h5>
            <p>{{product.Description}}</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" (click)="previousOffer()" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" (click)="nextOffer()" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
<div class="card-deck mt-5 text-center">
  <div class="col-md-12 col-lg-12 col-sm-12 col-12" *ngFor="let product of products">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{product.Name}}</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <img [src]="product.SmallImageURL" class="mr-3">
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <h1 class="card-title pricing-card-title">{{product.Price | currency:'COP'}}</h1>
          </div>
          <div class="col-12 col-sm-12 col-md-3 col-lg-3">
            <p>{{product.Description}}</p>
          </div>
          <div class="col-12 col-sm-12 col-md-2 col-lg-2">
            <button type="button" class="btn btn-lg btn-primary btn-block" (click)="addItem(product)">Agregar al
              carrito</button>
            <button type="button" class="btn btn-lg btn-success btn-block">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>