<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
        <h3>
            Productos
        </h3>
    </div>
    <div class="col-md-10 col-lg-10 col-xl-10">
        <div class="table-responsive">
            <table class="table table-border table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let product of products | paginate: { itemsPerPage: elements, currentPage: page, totalItems: total }">
                        <td>{{product.Code}}</td>
                        <td>{{product.Name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-primary"
                                    [routerLink]="['/secure/product',product.Id]">Editar</button>
                                <button class="btn btn-primary"
                                    [routerLink]="['/secure/product',product.Id]">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2">
        <button class="btn btn-primary" [routerLink]="['/secure/product']">Crear</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 text-center">
        <pagination-controls (pageChange)="pageChanged($event)" maxSize="10" directionLinks="true" responsive="true"
            previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</div>