<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
        <h3>
            Productos
        </h3>
    </div>
    <div class="col-md-10 col-lg-10 col-xl-10">
        <div class="table-responsive">
            <table class="table table-border table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let product of products | paginate: { itemsPerPage: elements, currentPage: page, totalItems: total }">
                        <td>{{product.Code}}</td>
                        <td>{{product.Name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-success"
                                    [routerLink]="['/secure/product',product.Id]">Editar</button>
                                <button class="btn btn-danger" (click)="openDelete(product.Id)">Eliminar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2">
        <button class="btn btn-primary" [routerLink]="['/secure/product']">Crear</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 text-center">
        <pagination-controls (pageChange)="pageChanged($event)" maxSize="10" directionLinks="true" responsive="true"
            previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'fade show db':showModal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta seguro de cancelar el producto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancelar</button>
                <button type="button" (click)="onDeleteProduct()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade show" *ngIf="showModal"></div>