<div class="row mt-10">
    <h3>Campañas</h3>
</div>
<div class="row">
    <div class="col-4">
        <label>Producto</label>
        <select class="form-control">
            <option value="">Seleccione</option>
        </select>
    </div>
    <div class="col-4">
        <label>Fecha Inicio</label>
        <input class="form-control" type="date">
    </div>
    <div class="col-4">
        <label>Fecha Fin</label>
        <input class="form-control" type="date">
    </div>
    <div class="col-12">
        <label>Descripción</label>
        <textarea class="form-control"></textarea>
    </div>
</div>