<div class="row">
    <div class="col-md-10 col-lg-10 col-xl-10">
        <div class="table-responsive">
            <table class="table table-border table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let offer of offers">
                        <td>{{offer.Product.Code}}</td>
                        <td>{{offer.Product.Name}}</td>
                        <td>{{offer.BeginDate}}</td>
                        <td>{{offer.EndDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2">
        <button class="btn btn-primary" [routerLink]="['/secure/offer']">Crear</button>
    </div>
</div>