<div class="mt-10 text-center">
    <h2>Registrar Producto</h2>
    <p class="lead">Ingrese la información relacionada al producto.</p>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 order-md-1" [formGroup]="formProduct">
        <h4 class="mb-3">Producto</h4>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Nombre</label>
                <input
                    [ngClass]="{'is-invalid' : GetProperty(formProduct,'Name').invalid && GetProperty(formProduct,'Name').pristine == false}"
                    type="text" class="form-control" formControlName="Name">
                <div *ngIf="GetProperty(formProduct,'Name').pristine == false && GetProperty(formProduct,'Name').errors?.required"
                    class="invalid-feedback">
                    El nombre es requerido.
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="lastName">Código</label>
                <input
                    [ngClass]="{'is-invalid' : GetProperty(formProduct,'Code').invalid && GetProperty(formProduct,'Code').pristine == false}"
                    type="text" class="form-control" formControlName="Code">
                <div *ngIf="GetProperty(formProduct,'Code').pristine == false && GetProperty(formProduct,'Code').errors?.required"
                    class="invalid-feedback">
                    el código es requerido.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <label for="lastName">Descripción</label>
                <textarea
                    [ngClass]="{'is-invalid' : GetProperty(formProduct,'Description').invalid && GetProperty(formProduct,'Description').pristine == false}"
                    class="form-control" formControlName="Description"></textarea>
                <div *ngIf="GetProperty(formProduct,'Description').pristine == false && GetProperty(formProduct,'Description').errors?.required"
                    class="invalid-feedback">
                    La descripción es requerida.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Imagenes</h3>
            </div>
        </div>
        <div class="row" formArrayName="Images">
            <div class="col-10">
                <div class="row" *ngFor="let image of GetImages().controls;let i = index" [formGroupName]="i">
                    <div class="col-12 mb-3">
                        <label for="lastName">Nombre</label>
                        <input
                            [ngClass]="{'is-invalid' : GetProperty(image,'Name').invalid && GetProperty(image,'Name').pristine == false}"
                            type="text" class="form-control" formControlName="Name">
                        <div *ngIf="GetProperty(image,'Name').pristine == false && GetProperty(image,'Name').errors?.required"
                            class="invalid-feedback">
                            El nombre es requerido.
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="lastName">Descripcion</label>
                        <input
                            [ngClass]="{'is-invalid' : GetProperty(image,'Description').invalid && GetProperty(image,'Description').pristine == false}"
                            type="text" class="form-control" formControlName="Description">
                        <div *ngIf="GetProperty(image,'Description').pristine == false && GetProperty(image,'Description').errors?.required"
                            class="invalid-feedback">
                            La descripcion es requerida.
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" formControlName="IsThumbnail">
                            <label class="form-check-label" for="defaultCheck1">Es miniatura?</label>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label for="customFile">Elegir Imagen</label>
                        <input type="file" class="form-control" id="customFile" formControlName="Url">
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="button" (click)="addImage()">Agregar Imagen</button>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="col">
                <button class="btn btn-secondary btn-lg btn-block" [routerLink]="['/secure/products']"
                    type="button">Cancelar</button>
            </div>
            <div class="col">
                <button class="btn btn-primary btn-lg btn-block" type="button">Guardar</button>
            </div>
        </div>
    </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2017-2019 Company Name</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
</footer>