<div class="container">
    <div class="py-5 text-center">
        <h2>Actualize sus datos</h2>
    </div>
    <div class="row" [formGroup]="signUpForm">
        <div class="col-md-12 order-md-1">
            <h4 class="mb-3">Datos de usuario</h4>
            <div class="needs-validation">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Nombres</label>
                        <input
                            [ngClass]="{'is-invalid' : GetProperty(signUpForm,'FirstName').invalid && GetProperty(signUpForm,'FirstName').pristine == false}"
                            type="text" class="form-control" placeholder="Nombres" formControlName="FirstName">
                        <div class="invalid-feedback"
                            *ngIf="GetProperty(signUpForm,'FirstName').pristine == false && GetProperty(signUpForm,'FirstName').errors?.required">
                            Los nombres son requeridos.
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="GetProperty(signUpForm,'FirstName').pristine == false && GetProperty(signUpForm,'FirstName').errors?.pattern">
                            Los nombres no son validos.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Apellidos</label>
                        <input
                            [ngClass]="{'is-invalid' : GetProperty(signUpForm,'LastName').invalid && GetProperty(signUpForm,'LastName').pristine == false}"
                            type="text" class="form-control" placeholder="Apellidos" formControlName="LastName">
                        <div class="invalid-feedback"
                            *ngIf="GetProperty(signUpForm,'LastName').pristine == false && GetProperty(signUpForm,'LastName').errors?.required">
                            Los apellidos son requeridos.
                        </div>
                        <div class="invalid-feedback"
                            *ngIf="GetProperty(signUpForm,'LastName').pristine == false && GetProperty(signUpForm,'LastName').errors?.pattern">
                            Los apellidos no son validos.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="password">Tipo Identificacion</label>
                        <select
                            [ngClass]="{'is-invalid' : GetProperty(signUpForm,'IdentificationCardType').invalid && GetProperty(signUpForm,'IdentificationCardType').pristine == false}"
                            class="form-control" id="password" formControlName="IdentificationCardType">
                            <option value="">Seleccione</option>
                            <option value="CC">CC</option>
                            <option value="CE">CE</option>
                        </select>
                        <div class="invalid-feedback" style="width: 100%;"
                            *ngIf="GetProperty(signUpForm,'IdentificationCardType').pristine == false && GetProperty(signUpForm,'IdentificationCardType').errors?.required">
                            El tipo de identificacion es requerido.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="IdentificationCard">Numero de Identificacion</label>
                        <input
                            [ngClass]="{'is-invalid' : GetProperty(signUpForm,'IdentificationCard').invalid && GetProperty(signUpForm,'IdentificationCard').pristine == false}"
                            type="text" class="form-control" id="IdentificationCard"
                            placeholder="Numero de Identificacion" formControlName="IdentificationCard">
                        <div class="invalid-feedback" style="width: 100%;"
                            *ngIf="GetProperty(signUpForm,'IdentificationCard').pristine == false && GetProperty(signUpForm,'IdentificationCard').errors?.required">
                            El numero de identificacion es requerido.
                        </div>
                        <div class="invalid-feedback" style="width: 100%;"
                            *ngIf="GetProperty(signUpForm,'IdentificationCard').pristine == false && GetProperty(signUpForm,'IdentificationCard').errors?.pattern">
                            El numero de identificacion no es valido.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Email</label>
                        <input
                            [ngClass]="{'is-invalid' : GetProperty(signUpForm,'Email').invalid && GetProperty(signUpForm,'Email').pristine == false}"
                            type="email" class="form-control" placeholder="you@example.com" formControlName="Email">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="PhoneNumber">Telefono</label>
                        <input
                            [ngClass]="{'is-invalid' : GetProperty(signUpForm,'PhoneNumber').invalid && GetProperty(signUpForm,'PhoneNumber').pristine == false}"
                            type="text" class="form-control" id="PhoneNumber" placeholder="Numero de Identificacion"
                            formControlName="PhoneNumber">
                        <div class="invalid-feedback" style="width: 100%;"
                            *ngIf="GetProperty(signUpForm,'PhoneNumber').pristine == false && GetProperty(signUpForm,'PhoneNumber').errors?.required">
                            El numero de telefono es requerido.
                        </div>
                        <div class="invalid-feedback" style="width: 100%;"
                            *ngIf="GetProperty(signUpForm,'PhoneNumber').pristine == false && GetProperty(signUpForm,'PhoneNumber').errors?.pattern">
                            El numero de telefono no es valido.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-secondary btn-block" [routerLink]="['/public/home']">Cancelar</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary btn-block" (click)="onSubmit()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>