<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
        <h3>
            Productos mas vendidos
        </h3>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
        <div class="row justify-content-start" [formGroup]="filterForm">
            <div class="col">
                <label>Desde</label>
                <input class="form-control" type="date" formControlName="From">
            </div>
            <div class="col">
                <label>Hasta</label>
                <input class="form-control" type="date" formControlName="To">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-block" (click)="onSearch()">Buscar</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="table-responsive">
            <table class="table table-border table-hover">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let product of products | paginate: { itemsPerPage: elements, currentPage: page, totalItems: total }">
                        <td>{{product.Code}}</td>
                        <td>{{product.Name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-success"
                                    [routerLink]="['/secure/product',product.Id]">Editar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 text-center">
        <pagination-controls (pageChange)="pageChanged($event)" maxSize="10" directionLinks="true" responsive="true"
            previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</div>