<div class="row">
  <div class="col-md-4 mb-3">
    <label for="country">País</label>
    <select class="custom-select d-block w-100">
      <option value="">Seleccione</option>
      <option>Colombia</option>
      <option>Mexico</option>
      <option>Argentina</option>
      <option>Brasil</option>
    </select>
    <div class="invalid-feedback">
      El país es requerido.
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label for="country">Ciudad</label>
    <select class="custom-select d-block w-100">
      <option value="">Seleccione</option>
      <option>Colombia</option>
      <option>Mexico</option>
      <option>Argentina</option>
      <option>Brasil</option>
    </select>
    <div class="invalid-feedback">
      La ciudad es requerida.
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <label>Calle</label>
    <input type="text" class="form-control">
    <div class="invalid-feedback">
      La calle es requerida.
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <label>Zip</label>
    <input type="text" class="form-control">
    <div class="invalid-feedback">
      El código Zip es requerido.
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <label>Estado</label>
    <input type="text" class="form-control">
    <div class="invalid-feedback">
      El estado es requerido.
    </div>
  </div>
</div>