<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
        <h3>
            Clientes
        </h3>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-12 mb-3">
        <div class="row justify-content-start" [formGroup]="filterForm">
            <div class="col-md-3">
                <label>Tipo Consulta</label>
                <select class="form-control" formControlName="Filter">
                    <option value="">Seleccione</option>
                    <option value="I">Por Identificacion</option>
                    <option value="IP">Por Id Producto</option>
                </select>
            </div>
            <div class="col-md-3" *ngIf="showType">
                <label>Estado</label>
                <select class="form-control" formControlName="Type">
                    <option value="CC">CC</option>
                    <option value="CE">CE</option>
                </select>
            </div>
            <div class="col-md-3">
                <label>Criterio</label>
                <input class="form-control" type="text" formControlName="Criteria">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-block" (click)="onSearch()">Buscar</button>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-lg-10 col-xl-10">
        <div class="table-responsive">
            <table class="table table-border table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Tipo Identificacion</th>
                        <th>Numero Identificacion</th>
                        <th>Tipo</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let customer of Customers | paginate: { itemsPerPage: elements, currentPage: page, totalItems: total }">
                        <td>{{customer.FirstName}}</td>
                        <td>{{customer.LastName}}</td>
                        <td>{{customer.IdentificationCardType}}</td>
                        <td>{{customer.IdentificationCard}}</td>
                        <td>{{customer.Type.Name}}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button class="btn btn-success"
                                    [routerLink]="['/secure/customer',customer.Id]">Editar</button>
                                <button class="btn btn-warning" (click)="openChangeType(customer)">Reclasificar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2 col-lg-2 col-xl-2">
        <button class="btn btn-primary" [routerLink]="['/secure/customer']">Crear</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 text-center">
        <pagination-controls (pageChange)="pageChanged($event)" maxSize="10" directionLinks="true" responsive="true"
            previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'fade show db':showModal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reclasificar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col" [formGroup]="reclasificar">
                        <select class="form-control" formControlName="Type">
                            <option value="1">Plateado</option>
                            <option value="2">Dorado</option>
                            <option value="3">Platino</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="onCancel()" class="btn btn-secondary">Cancelar</button>
                <button type="button" (click)="onChangeType()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade show" *ngIf="showModal"></div>