<div class="container">
  <div class="py-5 text-center">
    <h2>Registrese</h2>
    <p class="lead">Por favor ingrese sus datos para empezar a disfutar de los productos exclusivos que Kall Sony's
      ofrece para usted.</p>
  </div>
  <div class="row">
    <div class="col-md-12 order-md-1">
      <h4 class="mb-3">Datos de usuario</h4>
      <div class="needs-validation">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Nombres</label>
            <input type="text" class="form-control" placeholder="Nombres">
            <div class="invalid-feedback">
              Los nombres son requeridos.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label>Apellidos</label>
            <input type="text" class="form-control" placeholder="Apellidos">
            <div class="invalid-feedback">
              Los apellidos son requeridos.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" required="">
            <div class="invalid-feedback" style="width: 100%;">
              El UserName es requerido.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="you@example.com">
          <div class="invalid-feedback">
            El email es requerido.
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">País</label>
            <select class="custom-select d-block w-100">
              <option value="">Seleccione</option>
              <option>Colombia</option>
              <option>Mexico</option>
              <option>Argentina</option>
              <option>Brasil</option>
            </select>
            <div class="invalid-feedback">
              El país es requerido.
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="country">Ciudad</label>
            <select class="custom-select d-block w-100">
              <option value="">Seleccione</option>
              <option>Colombia</option>
              <option>Mexico</option>
              <option>Argentina</option>
              <option>Brasil</option>
            </select>
            <div class="invalid-feedback">
              La ciudad es requerida.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label>Zip</label>
            <input type="text" class="form-control">
            <div class="invalid-feedback">
              El código Zip es requerido.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label>Estado</label>
            <input type="text" class="form-control">
            <div class="invalid-feedback">
              El estado es requerido.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label>Calle</label>
            <input type="text" class="form-control">
            <div class="invalid-feedback">
              La calle es requerida.
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <div class="col">
          <div class="row">
            <div class="col">
              <button class="btn btn-secondary btn-lg btn-block" type="button"
                [routerLink]="['/login']">Cancelar</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-lg btn-block" type="button" (click)="onSubmit()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2017-2019 Company Name</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>
</div>