#%RAML 1.0
title: Offer
version: 1.0
baseUri: https://pruebas.com/version
types:
    Offer: 
        type: !include Schemas/Offer.schema.json
    Offers:
        type: Offer[]
    Error:
        type: !include Schemas/GenericResponse.schema.json    

/order:
    post:
        description: Recurso para la creacion de ofertas
        body:
            application/json:
                type : Offer
        responses:
            200:
                body:
                    application/json:
                        type: number
            500:
                body:
                    application/json:
                        type: Error     
    put:
    
        description: Recurso para la actualizacion de ofertas
        body:
            application/json:
                type : Offer
        responses:
            200:
                body:
                    application/json:
                        type: booelan
            500:
                body:
                    application/json:
                        type: Error    

    get:
        description: Recurso para la consulta de ofertas vigentes        
        responses:
            200:
                body:
                    application/json:
                        type: Offers   
            500:
                body:
                    application/json:
                        type: Error 

    
    /{id}:
        get:
            description: Recurso para la consulta de una campaña por id
            responses:
                200:
                    body:
                        application/json:
                            type: Offer   
                500:
                    body:
                        application/json:
                            type: Error 